<!-- Footer -->
<footer id="dc-footer" class="dc-footer dc-haslayout">
  <div class="dc-footertopbar">
    <div class="container">
      <div class="row justify-content-center align-self-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2">
          <div class="dc-footer-call-email">
            <div class="dc-callinfoholder">
              <figure class="dc-callinfoimg">
                <img
                  src="assets/doctor single image/phone.png"
                  style="width: 4rem; padding: 10px"
                  alt="img description"
                />
              </figure>
              <div class="dc-callinfocontent">
                <h3>
                  <span>Emergency Call</span>
                  <a href="javascript:void(0);">09168668383</a>
                </h3>
              </div>
            </div>
            <div class="dc-callinfoholder dc-mailinfoholder">
              <figure class="dc-callinfoimg">
                <img
                  src="assets/doctor single image/email.png"
                  style="width: 4rem; padding: 10px"
                  alt="img description"
                />
              </figure>
              <div class="dc-callinfocontent">
                <h3>
                  <span>24/7 Email Support</span>
                  <a href="mailto:Info@domain.com">Info@Bookmyhealth.in</a>
                </h3>
              </div>
            </div>
            <span class="dc-or-text">- OR -</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dc-fthreecolumns">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 float-left">
          <div class="dc-fcol dc-widgetcontactus">
            <strong class="dc-logofooter"
              ><a href="#">
                <img
                  src="assets/doctor dashboard assets/dashboard logo.png"
                  alt="BookMyHealth"
                  style="width: 15rem; padding: 10px" /></a
            ></strong>
            <div class="dc-footercontent">
              <div class="dc-description">
                <!-- <p> <a href="javascript:void(0)" class="dc-detailsinfo dc-detailsinfofooter"></a></p> -->
              </div>
              <ul class="dc-footercontactus">
                <li>
                  <address>
                    <i class="lnr lnr-location"></i> Kothari Heights, 101-106,
                    Lamington Rd, opp. Reliance SMART, Mumbai Central(W), Dalal
                    Estate, Mumbai Central, Mumbai, Maharashtra 400008
                  </address>
                </li>
                <li>
                  <a href="javascript:void(0)"
                    ><i class="lnr lnr-envelope"></i> Info@Bookmyhealth.in</a
                  >
                </li>
                <li>
                  <span><i class="lnr lnr-phone-handset"></i> 09168668383</span>
                </li>
              </ul>
              <div class="dc-fsocialicon">
                <ul class="dc-simplesocialicons">
                  <li class="dc-facebook">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li class="dc-twitter">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li class="dc-linkedin">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li class="dc-googleplus">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-google-plus-g"></i
                    ></a>
                  </li>
                  <li class="dc-rss">
                    <a href="javascript:void(0);"><i class="fas fa-rss"></i></a>
                  </li>
                  <li class="dc-youtube">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-youtube"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 float-left">
          <div class="dc-fcol dc-flatestad">
            <div class="dc-ftitle"><h3>Usefull Links</h3></div>
            <div class="dc-footercontent">
              <ul class="dc-livefeeddetails">
                <li>
                  <figure class="dc-latestadimg">
                    <!-- <img src="images/footer/img-03.png" alt="img description"> -->
                  </figure>
                  <div class="dc-latestadcontent">
                    <p>Services</p>
                    <p>Order Medicine</p>
                    <p>Lab Test</p>
                    <p>Policy</p>
                  </div>
                </li>
                <li>
                  <figure class="dc-latestadimg">
                    <!-- <img src="images/footer/img-04.png" alt="img description"> -->
                  </figure>
                  <div class="dc-latestadcontent">
                    <p>Privacy</p>
                    <p>Terms & Conditions</p>
                    <p>Customers</p>
                    <p>Return Policy</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 float-left">
          <div class="dc-fcol dc-newsletterholder">
            <div class="dc-ftitle"><h3>Social Media</h3></div>
            <div class="dc-footercontent dc-newsletterholder">
              <div class="dc-description">
                <p>Stay in touch with us.</p>
              </div>

              <div class="dc-footerapps">
                <ul class="dc-btnapps">
                  <li>
                    <a href="javascript:void(0)"
                      ><img
                        src="assets/doctor single image/twitter.png"
                        alt="img description"
                        width="40px"
                    /></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><img
                        src="assets/doctor single image/inst.png"
                        alt="img description"
                        width="40px"
                    /></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><img
                        src="assets/doctor single image/fab.png"
                        alt="img description"
                        width="40px"
                    /></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><img
                        src="assets/doctor single image/you.png"
                        alt="img description"
                        width="40px"
                    /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="dc-ftitle">
              <a
                routerLink="../doctor-registration"
                class="dc-btn"
                style="
                  font: 400 15px/36px 'Poppins', Arial, Helvetica, sans-serif;
                  color: wheat;
                "
                >Click to Register as Doctor</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dc-footerbottom">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12">
          <p class="dc-copyright">
            Copyrights © 2022 by <span>BookMyHealth.</span> All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
