<!-- Header Start -->
<header id="dc-header" class="dc-header dc-haslayout">
  <!-- NAV BAR  -->
  <nav class="navbar navbar-expand-lg">
    <div class="container justify-content-center">
      <div class="logo-container">
        <a class="navbar-brand" href="#"
          ><img
            src="assets/doctor dashboard assets/dashboard logo.png"
            style="width: 15rem"
            alt=""
        /></a>
      </div>
      <div class="cart-profile-container">
        <div class="cart-container">
          <a href="" class="d-flex">
            <img
              src="assets/icons/cart-line.svg"
              class="navbar-icons"
              alt=""
            />Cart</a
          >
        </div>
        <div class="profile-container" style="margin-right: 10px">
          <span class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="assets/icons/person-circle.svg"
                class="navbar-icons"
                alt=""
              />
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" routerLink="../patient-registration"
                  >Patient Registration</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="../doctor-registration"
                  >Doctor Registration</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="../lab-registration"
                  >Lab Registration</a
                >
              </li>
            </ul>
          </span>
        </div>
        <button
          class="navbar-toggler mobile-menu-btn"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"
            ><img src="assets/icons/list.svg" class="menu-icon" alt=""
          /></span>
        </button>
      </div>

      <div
        class="collapse nav-bar-mobile-container navbar-collapse mb-4"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav nav-bar-ul-mobile mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/doctor"> Doctors </a>
          </li>
          <li class="nav-item">
            <a routerLink="/pathology"> Pathology </a>
          </li>
          <li class="nav-item">
            <a routerLink="/radiology"> Radiology </a>
          </li>
          <li class="nav-item">
            <a routerLink="/product-medicines">Medicines </a>
          </li>
          <!--  <li class="nav-item">
            <a routerLink="/product">Medicines </a>
          </li> -->
          <li class="nav-item">
            <a routerLink="/contact-us"> Contact Us </a>
          </li>
        </ul>
        <form class="d-flex search-field-container">
          <span class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Select Pincode
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">482002</a></li>

              <li><a class="dropdown-item" href="#">230252</a></li>
              <li>
                <a class="dropdown-item" href="#">400001</a>
              </li>
            </ul>
          </span>
          <div class="dc-btnarea input-field-container">
            <input
              class="form-control search-box"
              type="search"
              placeholder="Search for health packages or tests"
              aria-label="Search"
            />

            <a href="#" class="search-bar-btn"
              ><img
                src="assets/icons/search 33px.svg"
                style="width: 30px"
                alt=""
            /></a>
          </div>
        </form>
      </div>
      <div class="call-container">
        <p>Call us at</p>
        <p class="number-p">09168668383</p>
      </div>
    </div>
  </nav>
  <!-- SMALL NAV  -->
  <nav class="small-nav-containr-main">
    <div class="small-nav-container container">
      <div class="small-nav">
        <p><a href=""> Home </a></p>
      </div>
      <div class="small-nav">
        <p><a routerLink="/doctor"> Doctors </a></p>
      </div>
      <div class="small-nav">
        <p><a routerLink="/pathology"> Pathology </a></p>
      </div>
      <div class="small-nav">
        <p><a routerLink="/radiology"> Radiology </a></p>
      </div>
      <div class="small-nav">
        <p><a routerLink="/product-medicines">Medicines </a></p>
      </div>
      <div class="small-nav">
        <p><a routerLink="/contact-us"> Contact Us </a></p>
      </div>
    </div>
  </nav>
  <!-- SMALL NAV  END-->
  <form class="container d-flex search-field-container-2">
    <span class="nav-item dropdown">
      <a
        style="
          position: absolute;
          z-index: 99;
          top: 0px;
          height: 48px;
          padding: 0.8rem 1rem;
          box-shadow: 0 3px 6px #00000029;
        "
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown1"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Select Pincode
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
        <li><a class="dropdown-item" href="#">482002</a></li>

        <li><a class="dropdown-item" href="#">230252</a></li>
        <li>
          <a class="dropdown-item" href="#">400001</a>
        </li>
      </ul>
    </span>
    <div class="dc-btnarea input-field-container">
      <input
        style="
          padding-left: 160px;
          box-shadow: 0 3px 6px #00000029;
          padding-right: 40px;
        "
        class="form-control search-box"
        type="search "
        placeholder="Search for health packages or tests"
        aria-label="Search"
      />

      <a href="#" class="search-bar-btn-2"
        ><img src="assets/icons/search 33px.svg" alt=""
      /></a>
    </div>
  </form>
</header>
<!-- Header End -->
