<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card">
          <h4 class="card-header p-4">Manage Test</h4>

          <div class="p-4 table-responsive">
            <div class="row mb-5 align-items-center">
              <div class="col-md-3 mb-3">
                <input
                  type="text"
                  placeholder="Test Name"
                  class="form-control"
                />
              </div>
              <div class="col-md-3 mb-3">
                <input
                  type="email"
                  placeholder="Test Description"
                  class="form-control"
                />
              </div>
              <div class="col-md-3 mb-3">
                <input
                  type="text"
                  placeholder="Test Price"
                  class="form-control"
                />
              </div>
              <div class="col-md-3 mb-3">
                <button class="btn-sm btn-success options-btns">
                  Add Tests
                </button>
              </div>
            </div>

            <table class="table border">
              <thead>
                <tr>
                  <th scope="col">Test Name</th>
                  <th scope="col">Test Description</th>
                  <th scope="col">Test Price</th>
                  <th scope="col">Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>
                    <button class="btn-sm btn-success options-btns">
                      Edit
                    </button>
                    <button class="btn-sm btn-danger options-btns">
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
